
.hgjkxft{
    height: 3em;
    /* width: 100%; */
    background-color: darkslategray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 15px 15px 15px #ddd;
    padding: 0 2em 0 2em ;
    color:  whitesmoke;
    font-size: 24pt;
    
}
.hhddgh{
    text-decoration: none;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.ffghjhfsgdf{
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    .hhddgh_aa{
        display: none;
    }

a{
    text-decoration: none;
    margin: 0 15px 0 15px;
  
}
.menu-trigger img{
    width: 30px;
    border-radius: 25px;
}
.dropdown-menu{
    position: absolute;
    top: 56px;
    right: 9px;
    background-color: antiquewhite;
    width: 200px;
    padding: 5px;
}


.dropdown-menu.active{
    opacity: 1;
    visibility: visible;

}
.dropdown-menu.inactive{
    opacity: 0;
    visibility: hidden;
}



h3 span{
    font-size: 14pt;
    color: #3f3f3f;
    font-weight: 400;
}
.dropdown-menu ul li{
    padding: 10px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.dropdownItem{
    display: flex;
    flex-direction: column;

}
.rrr_font{
    font-size: 24pt;
}
@media screen and (max-width: 980px) {
.hhddgh{
    display: none;

}
    .hhddgh_aa{
        text-decoration: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .hgjkxft{
        font-size: 14pt;
    }
    }